.App {
  margin: 3rem;
}

.App-row {
  display: flex;
}

.App-col1 {
  margin-right: 2rem;
}

.App-col1 > h1 {
  margin-top: 0;
}

.App-col1 > ul {
  list-style: none;
  padding: 0;
}

.App-col2 {
  flex: 1;
}

.App-col2 > div {
  margin-bottom: 1rem;
}

.App-col2 input, .App-col2 textarea {
  width: 100%;
}